*{
   padding : 0px;
   margin : 0px;
}
.body{
   font-family: 'Lato', sans-serif;
   font-family: 'Open Sans', sans-serif;
}
.btn-primary{
   background-color: #E55473;
   border-radius: 5px;
   padding: 15px 15px;
   border : none;
   color : white;
}

.banner-title{
   color: #272727;
   font-family: Lato;
   font-size: 65px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
   margin-bottom: 20px;
}

.banner-para{
   margin-bottom: 20px;
   font-family: Lato;
   font-size: 18px;
}
.banner-pic{
   width: 500px;
}

.banner{
   background-color: #E554731A;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap : 50px;
   padding : 50px 100px 0px 150px;

}

.feature{
   padding : 50px 100px 50px 150px;
}

.feature-title{

}

.feature-pic{
   align-items: center;
   display : flex;
   justify-content: space-between;
   padding : 40px 70px 40px 50px;
}

.fp{
   height: 260px;
   width: 200px;
   padding-bottom: 0px;
}

.fp-1{
   border-radius: 300px 300px 0px 0px;
   background: rgba(167, 33, 98, 0.15);
   padding : 40px 30px 0px 30px;
   margin-bottom: 0px;
}

.fp-2{
   border-radius: 300px 300px 0px 0px;
   background: rgba(5, 151, 160, 0.15);
   padding : 40px 20px 0px 40px;
}

.fp-3{
   border-radius: 300px 300px 0px 0px;
   background: rgba(71, 125, 17, 0.15);
   padding : 40px 20px 0px 40px;
}

.cp-1{
   text-align: left;
   padding: 0px 250px 0px 130px;
}

.cp-2{
   text-align: center;
   gap: 30px;
}

.cp-3{
   text-align: right;
   padding: 0px 130px 0px 250px;
}

.cp{
   display: flex;
}

.hot-deal-content{   
   justify-content: space-between;
   align-items: center;
   gap : 50px;
   padding : 50px 100px 50px 150px;
}
.hot-deal{
   background-color: #E554730D;
   display: flex;
   padding-right: 150px;
   align-items: center;
}

.hot-pic{
   width : 350px;
   padding : 50px 0px 50px 0px;
}

.hot-deal-title{
   color: #272727;
   font-family: Lato;
   font-size: 45px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
   text-align: center;
   margin-bottom: 0px;
}

.hot-btn{
   padding: 0px 0px 0px 250px;
}


.off{
   color : #E55473;
   font-family: Lato;
   font-size: 45px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
}

.para{
   margin-top: 5px;
   margin-bottom: 20px;
   text-align: center;
}

.insta-title{
   color: #272727;
   font-family: Lato;
   font-size: 35px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   margin-bottom: 0px;
   text-align: center;
}

.insta-content{
   align-items : center;
}

.insta-para{
   color: rgba(39, 39, 39, 0.60);
   text-align: center;
   font-family: Lato;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 30px;

}
.insta-pic{
   align-items: center;
   display : flex;
   padding : 0px 100px 0px 110px;
   margin : 50px 0px 100px 0px;
}

.i-p{
   width : 250px;
   margin : 10px 10px 10px 10px;
   
}

.email{
   border-width: 700px;
   border-radius: 5px;
   padding: 15px 15px;
   padding-left: 50px;
   padding-right: 100px;
   border : none;

}

.e-subs{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin : 20px 400px 0px 400px;
   gap : 20px;
}

.latest-deal{
   background-image: url(images/Rectangle\ 9.png);
   background-size: cover;
   height: 40vh;
   margin: 0px 150px 20px 120px;
   align-items : center; 
}
.latest-title{
   color: #272727;
   font-family: Lato;
   font-size: 35px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   margin-bottom: 0px;
   text-align: center;
   padding : 50px 100px 0px 100px;
}
.latest-para{
   color: rgba(39, 39, 39, 0.60);
   text-align: center;
   font-family: Lato;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 30px;
   margin : 0px 400px 0px 400px;
}

.footer{
   background-color: black;
   align-items: center;
   text-align: center;
   margin-top: 100px;

}
.f-title{
   color: #E55473;
   font-family: Lato;
   font-size: 48px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
   padding: 100px 0px 0px 0px;
   margin-bottom : 0px;
}
.f1-title{
   color: white;
}
.f-para{
   color: rgba(255, 255, 255, 0.90);
   text-align: center;
   font-family: Lato;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 30px;
}

.f-cpy{
   color: rgba(255, 255, 255, 0.40);
   text-align: center;
   font-family: Lato;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

.f-content{
   align-items: center;
   padding: 0px 0px 70px 0px;
}